[defaults]

# (pathlist) Comma-separated list of Ansible inventory sources
inventory=./inventory/hosts.yml


# (tmppath) Temporary directory for Ansible to use on the controller.
;local_tmp=/home/leaf/.ansible/tmp
remote_tmp     = /tmp/.ansible-${USER}/tmp


# (pathspec) Colon-separated paths in which Ansible will search for Roles.
roles_path=roles/

